.section-enter {
  opacity: 0;
  transform: translateY(60px);
}
.skill-bar-bg {
  display: inline-block;
  height: 10px;
  width: 100px;
  background: var(--surface0);
  border-radius: 2px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
.skill-bar {
  display: block;
  height: 100%;
  border-radius: 2px;
  width: 0%;
}
